header{
    position: relative;
    height: 200px;
    width: 100%;
    background: #161415 url('https://geo.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgeo.2F2020.2F01.2F06.2Fa343e643-51cc-491b-9df1-9807b718efe1.2Ejpeg/1800x675/background-color/ffffff/quality/90/picture.jpg') top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-position: bottom;
    text-align: center;
    color: teal;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    padding-top: 50px;
}

#hright, #job {
    font-weight: bold;
    color: whitesmoke;
    text-shadow: -1px 0 teal, 0 1px teal, 1px 0 teal, 0 -1px teal;
}


#experiences {
    padding-top: 10px;
    margin: 0px;
}
#bodySection {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.realizations {
    font-style: italic;
}

#acote, #experiences, #competences, #formations {
    border: 1px solid gray;
    border-radius: 20px;
}

#formations {
    margin: 0px;
}